.auth-container {
  max-width: 380px;
  margin: 60px auto;
  border: 1px solid #ddd;
  padding: 32px;
  border-radius: 10px;
  background: white;
}

.auth-container h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
  margin-bottom: 25px;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  margin-top: 18px;
  border: 1px solid black;
  background: black;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 6px;
}

.auth-btn:hover {
  opacity: 0.85;
}

.google-btn {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: 1px solid #ddd;
  background: #f8f8f8;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  font-size: 15px;
}

.google-btn img {
  width: 20px;
}

.switch-text {
  margin-top: 18px;
  font-size: 14px;
  text-align: center;
}

.switch-text span {
  text-decoration: underline;
  cursor: pointer;
}
