.cart-page {
  padding: 30px;
}

.cart-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.cart-content {
  display: flex;
  gap: 30px;
}

.cart-items {
  width: 65%;
}

.cart-card {
  display: flex;
  gap: 15px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.cart-img {
  width: 100px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-info h3 {
  margin: 0;
}

.qty-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.qty-buttons button {
  width: 28px;
  height: 28px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
}

.remove-btn {
  margin-top: 10px;
  border: none;
  background: none;
  color: red;
  cursor: pointer;
}

.cart-summary {
  width: 30%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout-btn {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.cart-empty {
  text-align: center;
  padding: 50px;
}

.explore-btn {
  margin-top: 20px;
  padding: 12px 20px;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.cart-loading {
  text-align: center;
  margin-top: 50px;
}
