.featured-section {
  padding: 50px 40px;
}

.featured-section h2 {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: bold;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 6px;
  transition: 0.3s ease;
  text-align: center;
}

.product-card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.product-image {
  width: 100%;
  height: 220px;
  background: #eee;
  border-radius: 5px;
  margin-bottom: 12px;
}

.price {
  font-weight: bold;
  display: block;
  margin: 10px 0;
}

.view-btn {
  padding: 12px;
  border: 1px solid black;
  background: transparent;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}

.view-btn:hover {
  background: black;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
